/*Desktop 1024*/
@media only screen and (max-width: 1024px){
    div.cta button{
        position: relative;
        left: 41%;
    }

    div.footer a {
        position: relative;
        left: 37%;
    }
}


/*Tamanho padrão para tablets*/
@media only screen and (max-width: 768px){
    
    div#servidores{
        padding-right: 0;
        padding-left: 0;
        padding: 17px;
    }

    div#suporte{
        padding-right: 0;
        padding-left: 0;
        padding: 17px;
    }

    div#dev-web{
        padding-right: 0;
        padding-left: 0;
        padding: 17px; 
    }

    div.cta button{
        position: relative;
        left: 39%;
    }

    div.footer a {
      text-decoration: none;
      position: relative;
      left: 33%;
      font-size: 42px;
      text-align: center;
      padding: 20px 20px 0 20px;
      color: white;
    }
}

/*Smartphones 425*/
@media only screen and (max-width: 425px){

    div.cta button{
        position: relative;
        left: 29%;
    }

    div.footer a {
        position: relative;
        left: 21%;
    }
}

/*Tamanho para smartphones 375*/
@media only screen and (max-width: 375px){
    
    div.cta button{
        position: relative;
        left: 29%;
    }

    div.footer a {
        position: relative;
        left: 15%;
    }

}


/*Tamanho padrão para smartphones 320*/

@media only screen and (max-width: 320px){
    

    div.cta button{
        position: relative;
        left: 25%;
    }

    div.footer a {
        position: relative;
        left: 11%;
    }
}