:root {
  --black: #1f1a17;
  --white: white;
  --blue: #0d80bf;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  font-family: 'Big Shoulders Text', 'Lato', 'Tahoma', sans-serif;
}

#logo {
  margin: 10px 20px;
  max-width: 45px;
}

.fa-align-right {
  font-size: 20px;
}

.logo-title {
  margin-top: 10px;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: var(--black);
}

.hero {
  position: relative;
  display: flex;
}

.hero-img {
  width: 100%;
  object-fit: contain;
}

.hero-text {
  color: var(--white);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 40%;
  top: 50%;
}

.hero-contrast {
  color: var(--black);
  text-shadow: 1px 1px var(--white);
}

.services {
  display: flex;
}

.services p {
  font-size: 24px;
  font-weight: bold;
}

#servidores, #suporte, #dev-web {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.fa-laptop-medical, .fa-code, .fa-server {
  margin: 15px 30px 30px;
  font-size: 32px;
}

.calculadora {
  margin-top: 50px;
}

.money-form {
  background-color: var(--blue);
  color: white;
  padding: 15px;
}

.money-form label {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 0;
}

.form-control {
  max-width: 40%;
  margin: 10px 0;
}

#qtd-dependentes {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
}


/*Profile Info*/


div.profile p {
  text-align: center;
}

.socials {
  flex-direction: column;
}

.socials a {
  align-items: space-evenly;
  color: var(--black);
  font-size: 36px;
  padding: 5px;
  text-decoration: none;
}

.socials a:hover {
  color: var(--blue);
}

/*Calculadora*/
table.table-dark {
  color: var(--blue);
}

table tr td input {
  position: relative;
  top: 5px;
}